.chat{
    flex: 0.65;
}

.appbar{
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
}
.chat_body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat_avatar{
    padding-right: 10px;
}

.chat_header_content{
    flex:1;
    display: flex;
    justify-content: space-between;
}
.chat_messages{
    flex:1;
overflow-y: scroll;

    /* background-image: url("https://cdn.hipwallpaper.com/i/17/20/XhHvEZ.jpg");
    background-size: cover; */
    /* background-color: ; */
}
.chat_footer{
    border-top:1px solid lightgrey;
}
.message_inputs{
    background-color: rgba(211, 211, 211,0.5);
    padding: 5px 10px;
    /* width: 100%; */
    border-radius: 25px;
    flex: 1;
    align-items: center
}
.footer_flex{
    display: flex;
    width: 100%;
}
.chat_message_input{
flex:1;
display: flex;
}


/* Messages */

.messages_body{
    display: flex;
    flex-direction: column;   
     
}

.message1{
    display: flex;
    padding: 5px 0;   

}
.message_content{
    display: flex;
    background-color: lightgrey;
    padding:10px 20px;
    border-radius: 25px;
}
.message_time{
    padding: 0 10px;
}

.message_rec{
    margin-right: auto;
    background-color: lightgrey;
    border-top-left-radius: 0;

}


.message_sent{
    margin-left: auto;
    background-color:#9ca7e2e5 ;
    border-top-right-radius: 0;
}